<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Analysis Homepage</title>
</head>
<body align="center" style="background: url('https://ww2.freelogovectors.net/svg10/indian-premier-league-ipl-logo-freelogovectors.net_.svg') ; background-size:30% 300px; background-repeat: no-repeat ">
<br><br>
<h1>IPL Teams Analysis</h1>

<form action="/team_record" method="get" style ="border: 5px solid #082e52; padding: 20px; max-width: 400px; margin: auto">


    <label>IPL Team Name: </label>
    <select name="ipl_team_name">
        <option disabled selected >Pick a Team </option>
        {% for i in teams %}
        <option>{{ i }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Show Team Record" style="background-color: #0a5ead; color: white;font-size: 16px;border: 2px solid #a2c3e8;padding: 10px 20px">
</form>
{% if message %}
    <p style="color:orange">{{ message }}</p>
{% endif %}
{% if record %}
{% for i in record %}
<p>{{ i }} : {{ record[i] }}</p>
{% endfor %}
{% endif %}
</body>
</html>